 *,
 *::after,
 *::before {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 html { 
    scroll-behavior: smooth;
    font-size: 62.5%; // define what one rem is (10px)

   @include respond(tab-land) {
      font-size: 56.25%;
   }
   @include respond(tab-port) {
      font-size: 50%;
   }
   @include respond(phone) {
      font-size: 40%;
   }
   @include respond(big-desktop) {
      font-size: 80%;
   }
   color: $white;
   height: 100vh;
   width: 100vw;
}

 body {
   height: 100%;
   width: 100%;
   overflow-x: hidden;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center;
   background-color: #00042479;
   background-image: linear-gradient(312.99deg, #020216 2.84%, #000424 44.95%, #000013 96.46%);
 }

 section {
    width: 100vw;
    height: 100vh;
 }
