 *,
 *::after,
 *::before {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 html { 
    scroll-behavior: smooth;
    font-size: 62.5%; // define what one rem is (10px)

   @include respond(tab-land) {
      font-size: 56.25%;
   }
   @include respond(tab-port) {
      font-size: 50%;
   }
   @include respond(phone) {
      font-size: 40%;
   }
   @include respond(big-desktop) {
      font-size: 80%;
   }
   color: $white;
   margin: 0;
   height: 100vh;
    width: 100vw;
}

 body {
    margin: 0;
   height: 100%;
   width: 100%;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center;
   background-color: #00042479;
   background-image: linear-gradient(312.99deg, #020216 2.84%, #000424 44.95%, #000013 96.46%);
 }

 section {
    width: 100vw;
    height: 100vh;
 }

/*  .squares {
    z-index: -1;
    position: fixed;
    bottom: -1rem;
    left: 0;
    width: 100vw;
    max-height: 35vh;
 } */
.square {
   &__container {
      width: 100vw;
   }
   &--light {
      position: absolute;
      width: 890.5px;
      height: 580.61px;
      left: 0;
      top: 580px;
      background: #268CC0;
      transform: rotate(30deg);
   }
   &--dark {
      position: absolute;
      width: 574px;
      height: 1355.4px;
      left: 680.49px;
      top: 270px;
      background: rgba(38, 140, 192, 0.3);
      transform: rotate(72deg);
   }
}

 .header {
    position: relative;
    display: block;
    padding: 10% 15%;
    &__container {
       height: 70%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-self: center;
      letter-spacing: 3%;
      color: darken($color: $white, $amount: 15%);
    }
    &--main {
       color: $white;
       font-size: 6.5rem;
      &-span {
         color: $highlight;
      }
    }
    &--sub {
       width: 80%;
       font-size: 1.8rem;
      line-height: 3.2rem;
    }
    &--cta{
       display: flex;
       justify-content: flex-end;
       & select {
          margin: 0 1rem;
          padding: 0 1rem;
       }
    }
 }

 .menu {
    z-index: 10;
    top: 0;
    position: sticky;
    padding: 2rem 5rem;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    & > a{
      color: $white;
      text-decoration: none;
    }
    &__logo {
      position: absolute;
      left: 15%;
      font-weight: 500;
  }
   &__item {
      position: relative;
      margin: 0 3vw;
      text-transform: uppercase;
      letter-spacing: 5%;
      &::after {
         content: '';
         position: absolute;
         top: 6;
         left: 0;
         right: 0;
         display: block;
         transform: scale(0);
         border-radius: 1px;
         border-bottom: 2px solid $highlight;
         width: 0;
         opacity: 0;
         transition: all 0.6s ease-out;
       }
      &:hover {
         color: $highlight;
         backface-visibility: hidden;
         &:after { 
            opacity: 1;
            transform: scale(1);
            width: 100%; 
          }
      }
      &:active {
         text-decoration: none;
      }
   }
   &__scrolled {
      background-color: rgba($dark-blue, 0.3);
   }
 }

 .about {
   height: 100vh;
   width: 100vw;
    position: relative;
    display: block;
    padding: 10%;
   &__container {
      width: 75%;
   }
   &__title {
      text-transform: uppercase;
      color: $highlight;
      font-size: 4vw;
      font-weight: 700;
      letter-spacing: 0.1em;
      &--bg{
         margin-top: -0.7em;
         margin-left: 0.2em;
         color: $color-primary;
         text-transform: lowercase;
         position: absolute;
         width: 40%;
         font-size: 6vw;
         font-weight: 800;
         opacity: 0.08;
         letter-spacing: 0.1em;
         line-height: 1em;
      }
   }
   &__description {
      margin-top: 2%;
      font-size: 1.2em;
      line-height: 1.6em;
      padding: 1em 2em 1em 0;
   }
 }

 .tiles {
    position: relative;
    display: flex;
    width: 100vw;
   @include respond(tab-port) { display: block; }
   &__browse {
      // width: 70%;
      // height: 25vh;
      // bottom: 0;
      // left: 0;
      // position: absolute;
      // background-color: rgba($color: $color-primary, $alpha: 0.9);
      @include respond(tab-port) { 
         width: 50%;
         height: 15vw; 
      }
      &--cta{
         // @include absCenter;
         text-transform: uppercase;
         font-size: 1.5em;
         cursor: pointer;
      }
   }
   &__contact {
      // width: 30%;
      // height: 100vh;
      // bottom: 0;
      // right: 0;
      // position: absolute;
      // background-color: rgba($color: $color-primary, $alpha: 0.2);
      @include respond(tab-port) { 
         width: 50%;
         height: 15vw; 
      }
      &--cta{
         // @include absCenter;
         text-transform: uppercase;
         font-size: 1.5em;
         cursor: pointer;
      }
   }
 }

 .category {
   //  @include absCenter;
    width: 70%;
    height: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   justify-content: space-evenly;
   h1 {
      // @include absCenter;
      font-size: 3rem;
      top: -5rem;
   }
   &__item {
      border-radius: 15px;
      position: relative;
      margin: 2rem;
      padding: 1.5rem;
      background-color: rgba($color-primary, 0.15);
      width: 25%;
      height: 220px;
      overflow: hidden;
      &--title {
         margin-bottom: 1rem;
         color: $white;
         font-size: 1.5;
      }
      button {
         padding: 0.5rem 2rem;
         // position: absolute;
         right: 2rem;
         bottom: 1.5rem;
      }
   }
   
 }

