@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Montserrat:wght@300;400;500;800&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  color: #e2e3f0;
  height: 100vh;
  width: 100vw;
}

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 37.5em) {
  html {
    font-size: 40%;
  }
}

@media (min-width: 112.5em) {
  html {
    font-size: 80%;
  }
}

body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: #00042479;
  background-image: linear-gradient(312.99deg, #020216 2.84%, #000424 44.95%, #000013 96.46%);
}

section {
  width: 100vw;
  height: 100vh;
}

@-webkit-keyframes fadeInFocus {
  0% {
    opacity: 0;
    -webkit-filter: blur(2rem);
            filter: blur(2rem);
  }
  100% {
    opacity: 1;
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}

@keyframes fadeInFocus {
  0% {
    opacity: 0;
    -webkit-filter: blur(2rem);
            filter: blur(2rem);
  }
  100% {
    opacity: 1;
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateY(7rem);
            transform: translateY(7rem);
  }
  40% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateY(7rem);
            transform: translateY(7rem);
  }
  40% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  height: 100%;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  font-size: 1.6rem;
  color: #c0c3df;
}

h1 {
  text-transform: uppercase;
}

h1, h2, h3, h4 {
  font-weight: 400;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}

.about {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: block;
  padding: 10%;
}

.about__container {
  width: 75%;
}

.about__title {
  text-transform: uppercase;
  color: #F8A748;
  font-size: 4vw;
  font-weight: 700;
  letter-spacing: 0.1em;
}

.about__title--bg {
  margin-top: -0.7em;
  margin-left: 0.2em;
  color: #268CC0;
  text-transform: lowercase;
  position: absolute;
  width: 40%;
  font-size: 6vw;
  font-weight: 800;
  opacity: 0.08;
  letter-spacing: 0.1em;
  line-height: 1em;
}

.about__description {
  margin-top: 2%;
  font-size: 1.2em;
  line-height: 1.6em;
  padding: 1em 2em 1em 0;
}

.tiles {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
}

@media (max-width: 56.25em) {
  .tiles {
    display: block;
  }
}

@media (max-width: 56.25em) {
  .tiles__browse {
    width: 50%;
    height: 15vw;
  }
}

.tiles__browse--cta {
  text-transform: uppercase;
  font-size: 1.5em;
  cursor: pointer;
}

@media (max-width: 56.25em) {
  .tiles__contact {
    width: 50%;
    height: 15vw;
  }
}

.tiles__contact--cta {
  text-transform: uppercase;
  font-size: 1.5em;
  cursor: pointer;
}

.square__container {
  width: 100vw;
}

.square--light {
  position: absolute;
  width: 890.5px;
  height: 580.61px;
  left: 0;
  top: 580px;
  background: #268CC0;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

.square--dark {
  position: absolute;
  width: 574px;
  height: 1355.4px;
  left: 680.49px;
  top: 270px;
  background: rgba(38, 140, 192, 0.3);
  -webkit-transform: rotate(72deg);
          transform: rotate(72deg);
}

.categories {
  background-color: #268CC0;
}

.category {
  width: 70%;
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.category h1 {
  font-size: 3rem;
  top: -5rem;
}

.category__item {
  border-radius: 15px;
  position: relative;
  margin: 2rem;
  padding: 1.5rem;
  background-color: rgba(38, 140, 192, 0.15);
  width: 25%;
  height: 220px;
  overflow: hidden;
}

.category__item--title {
  margin-bottom: 1rem;
  color: #e2e3f0;
  font-size: 1.5;
}

.category__item button {
  padding: 0.5rem 2rem;
  right: 2rem;
  bottom: 1.5rem;
}

.header {
  position: relative;
  display: block;
  padding: 10% 15%;
}

.header__container {
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-item-align: center;
      align-self: center;
  letter-spacing: 3%;
  color: #b0b2d6;
}

.header--main {
  color: #e2e3f0;
  font-size: 6.5rem;
}

.header--main-span {
  color: #F8A748;
}

.header--sub {
  width: 80%;
  font-size: 1.8rem;
  line-height: 3.2rem;
}

.header--cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header--cta select {
  margin: 0 1rem;
  padding: 0 1rem;
}

.menu {
  z-index: 10;
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  padding: 2rem 5rem;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menu > a {
  color: #e2e3f0;
  text-decoration: none;
}

.menu__logo {
  position: absolute;
  left: 15%;
  font-weight: 500;
}

.menu__item {
  position: relative;
  margin: 0 3vw;
  text-transform: uppercase;
  letter-spacing: 5%;
}

.menu__item::after {
  content: '';
  position: absolute;
  top: 6;
  left: 0;
  right: 0;
  display: block;
  -webkit-transform: scale(0);
          transform: scale(0);
  border-radius: 1px;
  border-bottom: 2px solid #F8A748;
  width: 0;
  opacity: 0;
  -webkit-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}

.menu__item:hover {
  color: #F8A748;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.menu__item:hover:after {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  width: 100%;
}

.menu__item:active {
  text-decoration: none;
}

.menu__scrolled {
  background-color: rgba(0, 4, 36, 0.3);
}

.contact {
  color: #000424;
  background-color: #F8A748;
  height: 100vh;
}
/*# sourceMappingURL=style.css.map */